<h1>All Advertisements <%= link_to "Create New Ad", new_advertisement_path, class: 'btn btn-success' %></h1>

<% @advertisements.each do |advertisement| %>
  <div class = "media">
    <div class = "media-body">
      <h4 class = "media-heading">
        <p><%= link_to "#{advertisement.title}, #{advertisement.price}", advertisement %></p>
      </h4>
    </div>
  </div>
<% end %>
