<h1>Welcome#about</h1>

<h4> Feel free to check us out on social media! </h4>

<div class = "social-container">
  <ul style="list-style-type:none">
    <li> <%= link_to "Facebook", "https://www.facebook.com/nykimberly", class: "social-btn" %> </li>
    <li> <%= link_to "Twitter", "https://twitter.com/nyumikim", class: "social-btn" %> </li>
    <li> <%= link_to "Wordpress", "nkimberly.wordpress.com", class: "social-btn" %> </li>
    <li> <%= link_to "LinkedIn", "https://www.linkedin.com/in/yumikimberly", class: "social-btn" %> </li>
  </ul>
<div>
