<h1>All Posts <%= link_to "Create New Post", new_post_path, class: 'btn btn-success' %></h1>

<% @posts.each do |post| %>
  <div class = "media">
    <div class = "media-body">
      <h4 class = "media-heading">
        <p><%= link_to post.title, post %></p>
      </h4>
    </div>
  </div>
<% end %>
