<h1>Create New Post </h1>

<div class = "row">

  <h4> Guidelines </h4>
  <ul>
    <li> Obscene content will be removed.</li>
    <li> Posts inciting violence or harassment will be removed.</li>
    <li> Phishing and/or advertising will be marked as spam.</li>
  </ul>

  <div class = 'cold-md-8'>
      <%= render partial: 'form', locals: { topic: @topic, post: @post } %>
  </div>

</div>
